*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.conteiner {
    background: rgb(46, 43, 43);
    padding: 40px;
    border-radius: 20px;
    border: #30927b 3px solid;
    text-align: center;
}


h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: white;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-size: 1.2em;
}

input, select {
    background: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 1em;
    color: black;
    transition: border-color 0.5s;
}


button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #30927b;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 110px;
}

#resultado {
    margin-top: 20px;
    font-size: 1.5em;
}
